.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#changeGrid{
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 100px
}

#container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    height: 500px;
}

.gridDivs{
    display: flex;
    border: 1px black;
    border-style: solid;
    box-sizing: border-box;
}

.gridDivs.hovering{
    background-color: brown;
}